@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Canela';
  src: url('./assets/fonts/Canela-Thin.eot');
  src: url('./assets/fonts/Canela-Thin.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Canela-Thin.woff2') format('woff2'),
    url('./assets/fonts/Canela-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Holland';
  src: url('./assets/fonts/Holland.eot');
  src: url('./assets/fonts/Holland.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Holland.woff2') format('woff2'),
    url('./assets/fonts/Holland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Engravers Gothic';
  src: url('./assets/fonts/EngraversGothic.eot');
  src: url('./assets/fonts/EngraversGothic.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/EngraversGothic.woff2') format('woff2'),
    url('./assets/fonts/EngraversGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
